*.lprof
*.prof
.env
.envrc
.pytest_cache
__pycache__
benchmark-head.py
benchmark-versions.csv
benchmark-versions.ods
build
dataiter.egg-info
dist
doc/_build
doc/comparison/comparison.html
test.py
tmp.csv
validation/*.csv
venv
